<nb-card>
    <nb-card-header>
        Detail
    </nb-card-header>
    <modal-basic></modal-basic>
    <ng-template #content>
        <ngbd-modal-content></ngbd-modal-content>
    </ng-template>
    <nb-card-body>
        <form #f="ngForm" [formGroup]="form"
              (ngSubmit)="onSubmit(form.value)" novalidate>
            <label>タイトル</label>
            <div class="input-group">
                <input type="text"
                       placeholder="title"
                       [(ngModel)]="titleModel"
                       [formControl]="title"
                       class="form-control">
            </div>
            <label>日付</label>
            <div class="input-group">
                <input type="text"
                       placeholder="date"
                       [(ngModel)]="dateModel"
                       [formControl]="date"
                       class="form-control">
            </div>
            <label>会場場所</label>
            <div class="input-group">
                <input type="text"
                       placeholder="venue"
                       [(ngModel)]="venueModel"
                       [formControl]="venue"
                       class="form-control">
            </div>
            <label>詳細</label>
            <div class="input-group">
                <textarea type="text"
                       placeholder="information"
                       [(ngModel)]="informationModel"
                       [formControl]="information" class="form-control"></textarea>
            </div>
            <label>開場時間</label>
            <div class="input-group">
                <input type="text"
                       placeholder="enterTime"
                       [(ngModel)]="enterTimeModel"
                       [formControl]="enterTime"
                       class="form-control">
            </div>
            <label>開催時間</label>
            <div class="input-group">
                <input type="text"
                       placeholder="startTime"
                       [(ngModel)]="startTimeModel"
                       [formControl]="startTime"
                       class="form-control">
            </div>
            <label>前売り券</label>
            <div class="input-group">
                <input type="text"
                       placeholder="advanceSaleTicket"
                       [(ngModel)]="advanceSaleTicketModel"
                       [formControl]="advanceSaleTicket"
                       class="form-control">
            </div>
            <label>当日券</label>
            <div class="input-group">
                <input type="text"
                       placeholder="dayTicket"
                       [(ngModel)]="dayTicketModel"
                       [formControl]="dayTicket"
                       class="form-control">
            </div>
            <label>出演者</label>
            <div class="input-group">
                <input type="text"
                       placeholder="performer"
                       [(ngModel)]="performerModel"
                       [formControl]="performer"
                       class="form-control">
            </div>
            <label>記事タイトル</label>
            <div class="input-group">
                <input type="text"
                       placeholder="articleTitleValue"
                       [(ngModel)]="articleTitleModel"
                       [formControl]="articleTitle"
                       class="form-control">
            </div>
            <label>記事内容</label>
            <div class="input-group">
                <textarea type="text"
                          placeholder="articleContentValue"
                          [(ngModel)]="articleContentModel"
                          [formControl]="articleContent"
                          class="form-control"></textarea>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-hero-primary" (click)="onClick(content)">更新</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
