<nb-card>
    <nb-card-header>
        Detail
    </nb-card-header>
    <nb-card-body>
        <form #f="ngForm" [formGroup]="form"
              (ngSubmit)="onSubmit(form.value)" novalidate>
            <label>タイトル</label>
            <div class="input-group">
                <input type="text"
                       placeholder="title"
                       [(ngModel)]="titleModel"
                       [formControl]="title"
                       class="form-control">
            </div>
            <label>リリース日</label>
            <div class="input-group">
                <input type="text"
                       placeholder="date"
                       [(ngModel)]="dateModel"
                       [formControl]="date"
                       class="form-control">
            </div>
            <label>タイプ</label>
            <div class="input-group">
                <input type="text"
                       placeholder="type"
                       [(ngModel)]="typeModel"
                       [formControl]="type"
                       class="form-control">
            </div>
            <label>プロダクトナンバー</label>
            <div class="input-group">
                <input type="text"
                       placeholder="productNumber"
                       [(ngModel)]="productNumberModel"
                       [formControl]="productNumber"
                       class="form-control">
            </div>
            <label>プロダクトタイトル</label>
            <div class="input-group">
                <input type="text"
                       placeholder="productTitle"
                       [(ngModel)]="productTitleModel"
                       [formControl]="productTitle"
                       class="form-control">
            </div>
            <label>値段</label>
            <div class="input-group">
                <input type="number"
                       placeholder="priceValue"
                       [(ngModel)]="priceValueModel"
                       [formControl]="priceValue"
                       class="form-control">
            </div>
            <label>枚数</label>
            <div class="input-group detailListBox text-right">
                <div class="btn-group mb-15">
                    <button type="button"
                            class="btn btn-primary btn-icon btn-tn"
                            (click)="addDiscNumberData()">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button"
                            class="btn btn-primary btn-icon btn-tn"
                            (click)="removeDiscNumberData()">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <div class="mb-15" *ngFor="let discNumber of discNumberDataModel; let discNumberIndex = index;">
                    <input #discData
                           type="text"
                           placeholder="discNumber"
                           [value]="discNumber"
                           (change)="changValue(discData.value, discNumberIndex)"
                           class="form-control">
                </div>
            </div>
            <label>曲リスト</label>
            <div class="input-group detailListBox text-right">
                <div class="mb-15" *ngFor="let musicList of musicListDataModel; let musicListIndex = index;">
                    <div class="btn-group mb-15">
                        <button type="button"
                                class="btn btn-primary btn-icon btn-tn"
                                (click)="addMusicListData(musicListIndex)">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button type="button"
                                class="btn btn-primary btn-icon btn-tn"
                                (click)="removeMusicListData(musicListIndex)">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <div class="discNumberTitleBox text-left">
                        <span class="discNumberTitleBox_title">{{discNumberDataModel[musicListIndex]}}</span>
                    </div>
                    <div class="mb-15" *ngFor="let music of musicList; let musicIndex = index;">
                        <input #musicData
                               type="text"
                               placeholder="music"
                               value="{{music}}"
                               (change)="changMusicListValue(musicData.value, musicListIndex, musicIndex)"
                               class="form-control">
                    </div>
                </div>
            </div>
            <label>記事タイトル</label>
            <div class="input-group">
                <input type="text"
                       placeholder="articleTitleValue"
                       [(ngModel)]="articleTitleModel"
                       [formControl]="articleTitle"
                       class="form-control">
            </div>
            <label>記事内容</label>
            <div class="input-group">
                <textarea type="text"
                          placeholder="articleContentValue"
                          [(ngModel)]="articleContentModel"
                          [formControl]="articleContent"
                          class="form-control"></textarea>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-hero-primary">更新</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
