<nb-card>
    <nb-card-header>
        Detail
    </nb-card-header>
    <modal-basic></modal-basic>
    <ng-template #content>
        <ngbd-modal-content></ngbd-modal-content>
    </ng-template>
    <nb-card-body>
        <form #f="ngForm" [formGroup]="form"
              (ngSubmit)="onSubmit(form.value)" novalidate>
            <label>タイトル</label>
            <div class="input-group">
                <input type="text"
                       placeholder="title"
                       [(ngModel)]="titleModel"
                       [formControl]="title"
                       class="form-control">
            </div>
            <label>リリース日</label>
            <div class="input-group">
                <input type="text"
                       placeholder="date"
                       [(ngModel)]="dateModel"
                       [formControl]="date"
                       class="form-control">
            </div>
            <label>タイプ</label>
            <div class="input-group">
                <input type="text"
                       placeholder="type"
                       [(ngModel)]="typeModel"
                       [formControl]="type"
                       class="form-control">
            </div>
            <label>プロダクトナンバー</label>
            <div class="input-group">
                <input type="text"
                       placeholder="productNumber"
                       [(ngModel)]="productNumberModel"
                       [formControl]="productNumber"
                       class="form-control">
            </div>
            <label>プロダクトタイトル</label>
            <div class="input-group">
                <input type="text"
                       placeholder="productTitle"
                       [(ngModel)]="productTitleModel"
                       [formControl]="productTitle"
                       class="form-control">
            </div>
            <label>値段</label>
            <div class="input-group">
                <input type="number"
                       placeholder="priceValue"
                       [(ngModel)]="priceValueModel"
                       [formControl]="priceValue"
                       class="form-control">
            </div>
            <label>枚数</label>
            <div class="input-group detailListBox text-right">
                <div class="btn-group mb-15">
                    <button type="button"
                            class="btn btn-primary btn-icon btn-tn"
                            (click)="addDiscNumberData()">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button"
                            class="btn btn-primary btn-icon btn-tn"
                            (click)="removeDiscNumberData()">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <div class="mb-15" *ngFor="let discNumber of discNumberDataModel; let discNumberIndex = index;">
                    <input #discData
                           type="text"
                           placeholder="discNumber"
                           [value]="discNumber"
                           (change)="changValue(discData.value, discNumberIndex)"
                           class="form-control">
                </div>
            </div>
            <label>曲リスト</label>
            <div class="input-group detailListBox text-right">
                <div class="mb-15" *ngFor="let musicList of musicListDataModel; let musicListIndex = index;">
                    <div class="btn-group mb-15">
                        <button type="button"
                                class="btn btn-primary btn-icon btn-tn"
                                (click)="addMusicListData(musicListIndex)">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button type="button"
                                class="btn btn-primary btn-icon btn-tn"
                                (click)="removeMusicListData(musicListIndex)">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <div class="discNumberTitleBox text-left">
                        <span class="discNumberTitleBox_title">{{discNumberDataModel[musicListIndex]}}</span>
                    </div>
                    <div class="mb-15" *ngFor="let music of musicList; let musicIndex = index;">
                        <input #musicData
                               type="text"
                               placeholder="music"
                               value="{{music}}"
                               (change)="changMusicListValue(musicData.value, musicListIndex, musicIndex)"
                               class="form-control">
                    </div>
                </div>
            </div>
            <label>CDジャケット</label>
            <div class="input-group dis-i text-center">
                <div class="previewImageBox mb-25">
                    <img src="{{baseImageUrl + fileName}}"/>
                </div>

                <div class="col-sm-12">
                    <div class="drop-container mb-20"
                         ngFileDrop
                         [options]="options"
                         (uploadOutput)="onUploadOutput($event)"
                         [uploadInput]="uploadInput">
                        <p>
                            Drag a file here or
                            <label class="upload-button">
                                <input type="file"
                                       #imageLoader
                                       ngFileSelect
                                       [options]="options"
                                       (uploadOutput)="onUploadOutput($event)"
                                       [uploadInput]="uploadInput" multiple>
                                browse
                            </label>
                            to upload.
                        </p>
                    </div>
                    <div class="upload-items mb-20">
                        <div class="upload-item" *ngFor="let file of files; let i = index;">
                            <span class="filename">
                                <span>{{ file.name }} ({{ file.id }}) - {{ file.progress?.data?.percentage }}%</span>
                                <span>uploading with {{ file.progress?.data?.speedHuman }}</span>
                                <span>ETA {{ file.progress?.data?.etaHuman }}</span>
                            </span>
                            <div class="progress mb-20">
                                <span class="bar" [style.width]="file?.progress?.data?.percentage + '%'"></span>
                            </div>
                        </div>
                    </div>
                    <div class="flex-right mb-20" [hidden]="!imagePreview">
                        <button type="button"
                                class="btn btn-primary btn-icon"
                                (click)="removeFile(files[0].id)">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <div class="drop-container text-center dropImageView" [hidden]="!imagePreview">
                        <img src="{{imagePreview}}">
                    </div>
                </div>

            </div>
            <label>記事タイトル</label>
            <div class="input-group">
                <input type="text"
                       placeholder="articleTitleValue"
                       [(ngModel)]="articleTitleModel"
                       [formControl]="articleTitle"
                       class="form-control">
            </div>
            <label>記事内容</label>
            <div class="input-group">
                <textarea type="text"
                          placeholder="articleContentValue"
                          [(ngModel)]="articleContentModel"
                          [formControl]="articleContent"
                          class="form-control"></textarea>
            </div>
            <label>iTunes</label>
            <div class="input-group">
                <input type="text"
                       placeholder="URL"
                       [value]="downloadList.itune"
                       (keyup)="onKey($event, 'itune')"
                       class="form-control">
            </div>
            <label>レコチョク</label>
            <div class="input-group">
                <input type="text"
                       placeholder="URL"
                       [value]="downloadList.recochoku"
                       (keyup)="onKey($event, 'recochoku')"
                       class="form-control">
            </div>
            <label>kkbox</label>
            <div class="input-group">
                <input type="text"
                       placeholder="URL"
                       [value]="downloadList.kkbox"
                       (keyup)="onKey($event, 'kkbox')"
                       class="form-control">
            </div>
            <label>mora</label>
            <div class="input-group">
                <input type="text"
                       placeholder="URL"
                       [value]="downloadList.mora"
                       (keyup)="onKey($event, 'mora')"
                       class="form-control">
            </div>
            <label>music.jp</label>
            <div class="input-group">
                <input type="text"
                       placeholder="URL"
                       [value]="downloadList.musicJp"
                       (keyup)="onKey($event, 'musicJp')"
                       class="form-control">
            </div>
            <label>google play</label>
            <div class="input-group">
                <input type="text"
                       placeholder="URL"
                       [value]="downloadList.googlePlay"
                       (keyup)="onKey($event, 'googlePlay')"
                       class="form-control">
            </div>
            <label>LINE music</label>
            <div class="input-group">
                <input type="text"
                       placeholder="URL"
                       [value]="downloadList.lineMusic"
                       (keyup)="onKey($event, 'lineMusic')"
                       class="form-control">
            </div>
            <label>OTOTOY</label>
            <div class="input-group">
                <input type="text"
                       placeholder="URL"
                       [value]="downloadList.ototoy"
                       (keyup)="onKey($event, 'ototoy')"
                       class="form-control">
            </div>
            <label>amazon music</label>
            <div class="input-group">
                <input type="text"
                       placeholder="URL"
                       [value]="downloadList.amazonMusic"
                       (keyup)="onKey($event, 'amazonMusic')"
                       class="form-control">
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-hero-primary" (click)="onClick(content)">更新</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
