import { Injectable } from '@angular/core';

@Injectable()
export class AppConfigService {

    private config: any = {
        accessUrl: 'http://localhost:9001'
    }

    constructor() {
    }

    getConfigData() {
        return this.config;
    }
}
