<nb-card>
    <nb-card-header>
        Create
    </nb-card-header>
    <modal-basic></modal-basic>
    <ng-template #content>
        <ngbd-modal-content></ngbd-modal-content>
    </ng-template>
    <nb-card-body>
        <form #f="ngForm" [formGroup]="form"
              (ngSubmit)="onSubmit(form.value)" novalidate>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">タイトル</label>
                <div class="col-sm-9">
                    <input type="text"
                           [formControl]="title"
                           class="form-control"
                           name="title"
                           placeholder="title">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">リリース日</label>
                <div class="col-sm-9">
                    <input type="text"
                           [formControl]="date"
                           class="form-control"
                           name="date"
                           placeholder="date">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">タイプ</label>
                <div class="col-sm-9">
                    <select class="form-control"
                            [formControl]="type">
                        <option *ngFor='let discType of discTypes'
                                [value]="discType">{{discType}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">プロダクトナンバー</label>
                <div class="col-sm-9">
                    <input type="text"
                           [formControl]="productNumber"
                           class="form-control"
                           name="productNumber"
                           placeholder="productNumber">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">枚数</label>
                <div class="col-sm-9 text-right">
                    <div class="btn-group mb-15">
                        <button type="button"
                                class="btn btn-primary btn-icon btn-tn"
                                (click)="addDiscNumberData()">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button type="button"
                                class="btn btn-primary btn-icon btn-tn"
                                (click)="removeDiscNumberData()">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <div class="mb-15" *ngFor="let discNumber of discNumberData">
                        <select #discData class="form-control" (change)="changValue(discData.value, discNumber.id)">
                            <option></option>
                            <option>CD</option>
                            <option>MV</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">プロダクトタイトル</label>
                <div class="col-sm-9">
                    <input type="text"
                           [formControl]="productTitle"
                           class="form-control"
                           name="productTitle"
                           placeholder="productTitle">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">値段</label>
                <div class="col-sm-9">
                    <input type="text"
                           [formControl]="priceValue"
                           class="form-control"
                           name="priceValue"
                           placeholder="priceValue">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">曲リスト</label>
                <div class="col-sm-9 text-right">
                    <div *ngFor="let discNumber of discNumberData; let discNumberIndex = index;">
                        <div [ngClass]="{ 'dis-n' : discNumber.value === '' }">
                            <div class="btn-group mb-15">
                                <button type="button"
                                        class="btn btn-primary btn-icon btn-tn"
                                        (click)="addMusicListData(discNumber.id)">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button"
                                        class="btn btn-primary btn-icon btn-tn"
                                        (click)="removeMusicListData(discNumber.id)">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <div class="discNumberTitleBox text-left">
                                <span class="discNumberTitleBox_title">{{discNumber.value}}</span>
                            </div>
                            <div class="mb-15"
                                 *ngFor="let musicList of discNumber.musicList; let musicListIndex = index;">
                                <input #musicData
                                       type="text"
                                       class="form-control"
                                       placeholder="{{discNumber.value}} {{musicListIndex + 1}}. music title"
                                       (change)="changMusicListValue(musicData.value, discNumber.id, musicListIndex)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">CDジャケット</label>
                <div class="col-sm-9">
                    <div class="drop-container mb-20"
                         ngFileDrop
                         [options]="options"
                         (uploadOutput)="onUploadOutput($event)"
                         [uploadInput]="uploadInput">
                        <p>
                            Drag a file here or
                            <label class="upload-button">
                                <input type="file"
                                       #imageLoader
                                       ngFileSelect
                                       [options]="options"
                                       (uploadOutput)="onUploadOutput($event)"
                                       [uploadInput]="uploadInput" multiple>
                                browse
                            </label>
                            to upload.
                        </p>
                    </div>
                    <div class="upload-items mb-20">
                        <div class="upload-item" *ngFor="let file of files; let i = index;">
                            <span class="filename">
                                <span>{{ file.name }} ({{ file.id }}) - {{ file.progress?.data?.percentage }}%</span>
                                <span>uploading with {{ file.progress?.data?.speedHuman }}</span>
                                <span>ETA {{ file.progress?.data?.etaHuman }}</span>
                            </span>
                            <div class="progress mb-20">
                                <span class="bar" [style.width]="file?.progress?.data?.percentage + '%'"></span>
                            </div>
                        </div>
                    </div>
                    <div class="flex-right mb-20" [hidden]="!imagePreview">
                        <button type="button"
                                class="btn btn-primary btn-icon"
                                (click)="removeFile(files[0].id)">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <div class="drop-container text-center dropImageView" [hidden]="!imagePreview">
                        <img src="{{imagePreview}}">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">記事タイトル</label>
                <div class="col-sm-9">
                    <input type="text"
                           [formControl]="articleTitle"
                           class="form-control"
                           name="articleTitle"
                           placeholder="articleTitle">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">記事内容</label>
                <div class="col-sm-9">
                    <textarea type="text"
                              [formControl]="articleContent"
                              class="form-control"
                              name="articleContent"
                              placeholder="articleContent">
                    </textarea>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary" (click)="onClick(content)">Submit</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
