<nb-card>
    <nb-card-header>
        Create
    </nb-card-header>
    <modal-basic></modal-basic>
    <ng-template #content>
        <ngbd-modal-content></ngbd-modal-content>
    </ng-template>
    <nb-card-body>
        <form #f="ngForm" [formGroup]="form"
              (ngSubmit)="onSubmit(form.value)" novalidate>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">タイトル</label>
                <div class="col-sm-9">
                    <input type="text"
                           [formControl]="title"
                           class="form-control"
                           name="title"
                           placeholder="title">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">日付</label>
                <div class="col-sm-9">
                    <input type="text"
                           [formControl]="date"
                           class="form-control"
                           name="date"
                           placeholder="date">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">会場場所</label>
                <div class="col-sm-9">
                    <input type="text"
                           [formControl]="venue"
                           class="form-control"
                           name="venue"
                           placeholder="performer">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">詳細</label>
                <div class="col-sm-9">
                    <textarea type="text"
                           [formControl]="information"
                           class="form-control"
                           name="information"
                           placeholder="information"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">開場時間</label>
                <div class="col-sm-9">
                    <input type="text"
                           [formControl]="enter_time"
                           class="form-control"
                           name="enter_time"
                           placeholder="enter_time">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">開演時間</label>
                <div class="col-sm-9">
                    <input type="text"
                           [formControl]="start_time"
                           class="form-control"
                           name="start_time"
                           placeholder="start_time">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">前売り券</label>
                <div class="col-sm-9">
                    <input type="number"
                           [formControl]="advance_sale_ticket"
                           class="form-control"
                           name="advance_sale_ticket"
                           placeholder="advance_sale_ticket">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">当日券</label>
                <div class="col-sm-9">
                    <input type="number"
                           [formControl]="day_ticket"
                           class="form-control"
                           name="day_ticket"
                           placeholder="day_ticket">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">出演者</label>
                <div class="col-sm-9">
                    <input type="text"
                           [formControl]="performer"
                           class="form-control"
                           name="performer"
                           placeholder="performer">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">記事タイトル</label>
                <div class="col-sm-9">
                    <input type="text"
                           [formControl]="articleTitle"
                           class="form-control"
                           name="articleTitle"
                           placeholder="articleTitle">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">記事内容</label>
                <div class="col-sm-9">
                    <textarea type="text"
                              [formControl]="articleContent"
                              class="form-control"
                              name="articleContent"
                              placeholder="articleContent"></textarea>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary" (click)="onClick(content)">Submit</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
